In [1]:
import pandas as pd

In [2]:
fleet_df = pd.read_csv('inputs/fleets/aus_fleet.csv')

In [5]:
fleet_df.head()

  VEHICLE_NAME  NUM_VEHICLES
0     car_4pax            40
1     car_2pax            20
2     van_7pax            50
3    van_10pax            10

In [28]:
sim_df = pd.read_csv('inputs/main.csv')
sim_df.head()

,SCENARIO_NAME,VEH_1_NUM_VEHICLES,VEH_2_NUM_VEHICLES,MAX_DISPATCH_MILES,CHARGE_NET_FILE,LOWER_SOC_THRESH_DCFC,UPPER_SOC_THRESH_DCFC,MIN_ALLOWED_SOC,TRIP_REVENUE
0,test1,50,100,5,aus_fuel_stations.csv,0.2,0.8,0.05,0
1,test2,100,50,5,aus_fuel_stations.csv,0.2,0.8,0.05,0

In [22]:
for i, row in sim_df.iterrows():
    filename = '{}_inputs.h5'.format(row['SCENARIO_NAME'])
    vehicle_ids = [{'name': c.replace("_NUM_VEHICLES", ""), 'num': row[c]} for c in sim_df.columns if 'VEH' in c]
    num_veh_types = len(vehicle_ids)
    assert num_veh_types > 0, 'Must have at least one vehicle type to run simulation.'
    row['NUM_VEHICLE_TYPES'] = str(num_veh_types)
    num_vehicles = 0
    for veh in vehicle_ids:
        num_vehicles += int(veh['num'])
        veh_df = pd.read_csv('inputs/vehicles/' + veh['name'] + '.csv', header=None).T
        veh_df = veh_df.rename(columns=veh_df.iloc[0]).drop(0).reset_index(drop=True)
        veh_df['NUM_VEHICLES'] = veh['num']
        print(veh['name'])
        veh_df.iloc[0].to_hdf(filename, key=veh['name'])
    assert num_vehicles > 0, "Must have at least one vehicle to run simulation."
    row['TOTAL_NUM_VEHICLES'] = str(num_vehicles)
    row.to_hdf(filename, key='main')

VEH_1
VEH_2
VEH_1
VEH_2

In [23]:
veh_2 = pd.read_hdf('test2_inputs.h5', key="VEH_2")

In [24]:
veh_2

VEHICLE_NAME           van
BATTERY_CAPACITY        80
PASSENGERS               7
EFFICIENCY             225
CHARGE_ACCEPTANCE      150
MAINTENANCE_COST     0.065
ADDITIONAL_COSTS         0
NUM_VEHICLES            50
Name: 0, dtype: object

In [17]:
veh_types = [v.replace('_NUM_VEHICLES', '') for v in inputs.index if 'VEH_' in v]

In [18]:
veh_types

['VEH_1', 'VEH_2']

In [29]:
for i, row in sim_df.iterrows():
    print(row.index)

Index(['SCENARIO_NAME', 'VEH_1_NUM_VEHICLES', 'VEH_2_NUM_VEHICLES',
       'MAX_DISPATCH_MILES', 'CHARGE_NET_FILE', 'LOWER_SOC_THRESH_DCFC',
       'UPPER_SOC_THRESH_DCFC', 'MIN_ALLOWED_SOC', 'TRIP_REVENUE'],
      dtype='object')
Index(['SCENARIO_NAME', 'VEH_1_NUM_VEHICLES', 'VEH_2_NUM_VEHICLES',
       'MAX_DISPATCH_MILES', 'CHARGE_NET_FILE', 'LOWER_SOC_THRESH_DCFC',
       'UPPER_SOC_THRESH_DCFC', 'MIN_ALLOWED_SOC', 'TRIP_REVENUE'],
      dtype='object')

In [2]:
ENV_PARAMS = {
    'MAX_DISPATCH_MILES': (0, 10000),
    'MIN_ALLOWED_SOC': (0,100),
}

In [3]:
new_dict = {'MIN_ALLOWED_SOC': 10, "FAIL": 0}

In [9]:
for key,val in new_dict.items():
    print(key in ENV_PARAMS.keys())

True
False